.App {
  text-align: center;
}
.main-menu{
  border-bottom: 1px solid #ccc;
    box-shadow: 2px 2px 5px #ccc;
}
.menu-top .row{
    width: 95%;
    margin: 0 auto;
}
.menu-top .input-group,.search-main .input-group{
  float:left;
  width: 30%;
}
.search-main input,.search-main select,.search-main button{
  height: 60px;
}
.nav-link{
  color: #000;
}
.search-option{
  margin-top: 60px;
}
.search-main{
  background: url('./bedroom.jpg');
  text-align: left;
  color: #fff;
  padding: 5px;
}
.search-input{
    border: 4px solid orange;
    border-radius: 5px;
    margin-top: 20px;
}
.search-input button{
  width: 108px;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.media,.card{
  text-align: left;
}
.media-heading{  
  margin-top: 10px;
}
.media a{
  width: 60px;
  border-radius: 50%;
}
.media a img{
  width: 100%;
}
.footer-menu{
  border-top: 1px solid #ccc;
  padding: 40px 0;
  margin-top: 30px;
}
.footer-menu a{
  color: #222;
}
.footer-bottom{
  border-top: 3px solid #ccc;
  padding: 20px 0;
}
.landing  h3{
  text-align: left;
  margin-top: 60px;
}
.card{
  border: 0;
}
.active-menu{
  color: #008B02!important;
  font-weight: bold;
}
.landing{
  margin-bottom: 160px;
}
.menu-top{
  padding-top: 10px;
}
.active-menu::after{
  content: '';
  border-bottom: 3px solid #008B02;
  /* width: 10px; */
  display: block;
}
.first_image{
  width: 70%;
  float: left;
  overflow: hidden;
  height: 700px;
}
.first_image img{
  height: 100%;
}
.rest_image{
  width: 30%;
  float: left;
  overflow: hidden;
  height: 700px;
}
.image-details img{
  border: 1px solid #ccc;
  width: 100%;
  height: 100%;
}
.rest_image_1{
  height: 350px;
}
.rest_image_2{
  height: 350px;
}
.Details,.Details li{
  text-align: left;
}
.cart_form{
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 25px;
}
.details-start{
  margin-bottom: 140px;
}
.details-top{
  margin-top: 40px;
  margin-bottom: 800px;
}
.details-top h4 i{
  color: #FCCB00;
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
